/* Обнуляем отступы у всего, что движется */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* Это критически важная база! */
  color: white;

  font-family: 'Inter', Arial, sans-serif;
}

body {
  /* На всякий случай убеждаемся, что у body нет лишнего */
  min-height: 100vh;
  overflow-x: hidden; /* Чтобы не было горизонтального скролла */
}

:root{
  --background-color: #0a0a0a;
  --primary-color: #ff3e3e;
  --border-color: #1a1a1a;
  --secondary-color: #555;
}